body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: rgb(195, 226, 230);
}
#heroImage {
    width: 70%;
    height: 70%;
    align-items: center;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;  /* Adjust padding as per your design */
}


h1{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}


h2, h3{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}

/* ... existing CSS ... */


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjusted to 100% of the viewport height */
}