.navbar {
    background-color: rgb(234, 132, 236);
    padding: 30px 15px;
    text-align: center;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links li {
    display: inline-block;
    margin-right: 20px;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}
